/* CSS Document */
* {
    margin: 0px;
    padding: 0px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

body {
    background: #000;
    color: #FFF;
    font-size: 14px;
    font-family: "微软雅黑";
}

.box {
    margin: 0 auto;
    width: 450px;
}

.region {
    border: #FFF 1px solid;
    height: 595px;
    border-radius:10px;
}

.tetris {
    position: relative;
    padding-top: 5px;
    width: 255px;
    height: 550px;
    overflow: hidden;
}

.wall {
    margin: 10px;
    border-top: #575757 10px solid;
    border-bottom: #575757 10px solid;
    border-left: #808080 10px solid;
    border-right: #808080 10px solid;
    border-radius: 15px;
}

.next {
    position: relative;
    width: 105px;
    height: 100px;
    padding-top: 5px;
}

.grade {
    width: 105px;
    height: 30px;
    line-height: 30px;
    text-align: right;
}

.grade_text {
    margin:0 25px;
}

.operator {
    width: 125px;
    /*height: 81px;*/
    border: #fff 1px solid;
    margin: 10px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.block {
    /*margin: 0px 0px 5px 5px;*/
    width: 10px;
    height: 10px;
    position: absolute;
    border-width: 5px;
    border-style: solid;
    
}

.blockss {
    position: absolute;
    margin: 0px 0px 5px 5px;
    width: 10px;
    height: 10px;
    border: #0795e8 5px solid;
    background: #0795e8;
}

.blocks {
    margin: 0px 0px 5px 5px;
    width: 10px; /*235*/
    height: 10px;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
}

.bkW {
    background: #FFF;
}

.bkB {
    background: #0795e8;
}

.borW {
    /*border-color: #FFF;*/
    /*border-color: #000;*/
    border-color: rgba(0,0,0,0);
}

.borB {
    border-color: #0795e8;
}

.borB_P {
    border-color: #0795e8;
}

.bkPress {
    background: #ff6a00;
}

.op {
    width: 35px;
    height: 33px;
    line-height: 33px;
    margin: 5px 0px 0px 5px;
    text-align:center;
    border-radius: 5px;
}

.fl {
    float: left;
}

/*position*/
.location {
    position: absolute;
}

.timer_control {
    width:105px;
    text-align:center;
}

.ul_time {
    list-style:none;
}
    .ul_time li {
        float:right;
    }
.ul_li{
    width:10px;
}

.ul_red {
    color:#F00;
}
.ul_green {
    color:#0a8920;
}
    
