/**/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html,
body {
	font-size: 1em;
	font-family: "微软雅黑";
	display: block;
	width: 100%;
	height: 100%;
	background-color: #FFF;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.clearfix:before,
.clearfix:after {
	display: block;
	content: " ";
	height: 0
}

.clearfix:after {
	clear: both
}

.page {
	display: block;
	width: 100%;
	height: 100%;
}


/*------------------------[[index.html]] start------------------------*/
.textsign{
	width: 1vw;
	height: 1vw;
	display: inline-block;
}

.box{
	width:100%;
}
.imgArea{
	margin-top:1rem;
	padding: 0 0.5vw;
}

.rowImg{
	width:100%;
	background: #9C9C9C;
}

.colImg{
	display: inline-block;
	width:24vw;
	height: 30vw;
	background: url(../beauty.png) no-repeat;
	background-size: 100% 100%;
	transition: transform 1s;
}

.rotate{
	transform: rotateY(180deg);
}

.colImg img{
	max-width: 100%;
}

.btn{
	display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    margin: 5px auto;
    text-align: center;
    border: 1px #EC114E solid;
    background: #Ec114E;
    cursor: pointer;
    color:#FBC822;
}

.rebutton {
	width: 100%;
	height: 30px;
	background-color: #FF6A00;
}
.grid{width: 100%;}
.grid .item{width:32%;height: 150px;
    background-color: #DDD;
    display: inline-block}

/*------------------------[[index.html]] end------------------------*/
@media only screen and (min-width: ) {
	
}
