/**/

* {
	margin: 0px;
	padding: 0px;
}

html,
body {
	font-size: 1em;
	font-family: "微软雅黑";
	display: block;
	width: 100%;
	height: 100%;
	background-color: #FFF;
}
ul{list-style: none;}
a{text-decoration: none;}
.clearfix:before,.clearfix:after {
    display: block;
    content: " ";
    height: 0
}

.clearfix:after {
    clear: both
}


.page{
	display: block;
	width:100%;
	height:100%;
}
/*------------------------[[webkit.html]] start------------------------*/
.content{
	width: 100%;
	background-color: #dfe387;
	/*-webkit-text-size-adjust:none;*/
}

.content-auto{
	width: 100%;
	background-color: #85743A;
	/*-webkit-text-size-adjust:none;*/
}

.item_list{
	display: -webkit-box;
	background-color: #000;
}
.item_list li{-webkit-box-flex: 1;height: 100px;line-height: 100px;text-align: center;font-size:1.125rem;position:relative;background-color: #F00;}
.item_list li:first-child{background-color: #0A8920;}
.item_list li:nth-child(2){margin-left: 10px;,background-color: #0795E8;}
.item_list li:last-child{background-color: #FF6A00;}

.item_list2{
	display: -webkit-box;
	background-color: #000;
}
.item_list2 li{-webkit-box-flex: 1;height: 100px;line-height: 100px;text-align: center;font-size:1.125rem;position:relative;background-color: #F00;}
.item_list2 li:first-child{background-color: #0A8920;}
.item_list2 li:nth-child(2){margin-left: 10px;,background-color: #0795E8;-webkit-box-flex:2}
.item_list2 li:last-child{background-color: #FF6A00;}

.calculator{font-size: 1.125rem;}
/*------------------------[[webkit.html]] end------------------------*/

/*------------------------[[index.html]] start------------------------*/
.rebutton {
	width: 5rem;
	height: 2rem;
	background-color: #FF6A00;
}
/*------------------------[[index.html]] end------------------------*/