
/**/
*{
	margin: 0;
	padding:0;
}
html,body{
	font-size: 100%;
	background-color: #FFF;
}
.box{
	
}

.swiper-container {
    width: 100%;
    height: 200px;
} 
.yellow{background-color: #FFFF00;}
.red{background-color: #FF0000;}
.blue{background-color: #0795E8;}

.list{
	height: 3000px;
	width: 100%;
	background-color: #DDD;
	/*margin-top:200px ;*/
}
.goTop{
	background-color: #555555;
	font-size: 1em;
	width: 2rem;
	height: 2rem;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	text-align: center;
	line-height: 2rem;
}
.hid{
	display: none;
}
.trans{
	transition:height 1s;
}