.index-proj{
    height: 100%;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    .item-list{
        width: 100%;
        li{
            height: 30px;
            width: 100%;
            text-align: center;
            line-height: 30px;
            border-bottom: 1px #999999 solid;
            background-color:#DDDDDD; 
            &:active{
                background-color:#999999 ;
            }
            a{
                height: 30px;
                width:100%;
            }
        }
    }
}
