.message-box {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    border-radius: 5px;
    margin: 0 auto 10px auto;
    color: #FFF;
    background-color: #000;
    position: fixed;
    left:0px;
    bottom:20px;
    z-index: 100010;
}
.index-proj{
    height: 100%;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    .banner{
        height: 80px;
        width: 100%;
        background: #f14040;
        line-height: 80px;
        .theme{
            color: #FFF;
            font-size: 1rem;
        }
    }
    .item-list{
        width: 100%;
        li{
            height: 30px;
            width: 100%;
            text-align: center;
            line-height: 30px;
            border-bottom: 1px #999999 solid;
            background-color:#DDDDDD; 
            &:active{
                background-color:#999999 ;
            }
            a{
                display: block;
                height: 30px;
                width:100%;
            }
        }
    }
}
