html,body,div,header,footer,section,article,table,th,thead,tr,td,tbody,tfoot,p,label,ul,li,ol,dl,dd,dt,input,a,span{
    margin: 0px;
    padding: 0px;
}
html,body{
    width:100%;
    height: 100%;
    background-color: #FFFFFF;
    position: absolute;
}

ul,li{
    list-style: none;
}

a{
    text-decoration:none;
}

.box {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #C0C0C0;
    position: absolute;
    .cvs {
        top: 0;
        left: 0;
        background-color: #C0C0C0;
        position: absolute;
    }
}