<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../../lib/angular.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		
		<div ng-app="myApp" ng-controller="myController">
			<p>
				你好，<input ng-model="name" />
				<h1>你输入了： {{name}}</h1>
				<!--<input ng-model="fn()"/>-->
				<!--<span ng-model="fn()"></span>-->
                                                    <!--
                                                    	作者：jinming1937@163.com
                                                    	时间：2016-05-06
                                                    	描述：这种方式报错
                                                    -->
				<h2>{{fn()}}</h2>
				<input ng-model="obj.name" />
				<h3>{{obj.value}}</h3>
			</p>
			<ul>
				<li ng-repeat="x in names">{{x}} {{globalObj}}</li>
			</ul>
			
			<ul>
				<li ng-repeat="x in jsonData">{{x.Name +":"+ x.Country}}</li>
			</ul>
			
			<select ng-model="jsonData$" ng-options="x.Name for x in jsonData">
			</select>
			<span>{{jsonData$}}</span>
			<select ng-model="jsonData$">
				<option ng-repeat="x in jsonData">{{x.Name}}</option>
			</select>
		</div>
		<!--<div ng-app="bpp" ng-controller="bppCon">
			<p>{{globalObj}}</p>
			<h6>{{gg}}</h6>
		</div>-->
		<script>
			var app = angular.module('myApp',[]);
			app.controller('myController',function($scope,$rootScope,$http){
				$scope.name="Join";
				$scope.fn = function () {
					return "ssd";
				};
				$scope.obj = { name : "ojb" , value: "12"}
				$scope.names=['a','b','c'];
				$rootScope.globalObj = "GLOBAL";
				
				$http.get("../../service/angular/Customers.json").success(function(response){
					$scope.jsonData = response.records;
				});
			});
			
//			var bpp = angular.module('bpp',[]);
//			bpp.controller('bppCon',function($scope,$rootScope){
//				$scope.gg = "ff";
//			});
		</script>
	</body>
</html>
