*{
	margin: 0;
	padding: 0;
}

html,body{
	width:100%;
	height: 100%;
	background-color: #FFFFFF;
	position: absolute;
}

.box{
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	background-color: #C0C0C0;
	position: absolute;
	/*display: block;*/
}
.cvs{
	/*width:100%;*/
	/*height: 100%;*/
	top:0;
	left: 0;
	background-color: #C0C0C0;
	position: absolute;
}
.wind{
	width:100px;
	height: 15px;
	position:absolute;
	z-index: 100;
	background: #FFF;
}

.hand{
	position: absolute;
	z-index: 1000;
	left:0;
	bottom: 0;
	width:100%;
	height: 30%;
}
.handler{
	font-size: 1rem;
	position: relative;
	width: 50px;
	height: 50px;
	background: rgba(112,112,112,0.7);
}
.handler:active{
	background: rgba(155,155,155,.8) ;
}
.leftctrl{
	left: 0;
	top:50px;
}
.upctrl{
	top: -50px;
	left: 50px;
}
.rightctrl{
	left: 100px;
	top: -50px;
}
.downctrl{
	left: 50px;
	top: -50px;
}
.stop{
	left: 200px;
	top:-150px;
}
.reset{
	left: 270px;
	top:-200px;
}